* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font: 500 1rem Poppins, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--dark-blue-text);
  font: Poppins, sans-serif;
}

p {
  font-weight: 500;
  color: var(--dark-blue-text);
  font: Poppins, sans-serif;
}

body {
  background-color: var(--ligth-brown);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --dark-blue-text: #223136;
  --medium-blue-text: #23363E;
  --light-blue-text: #617189;

  --brown: #48483D;
  --medium-brown: #BFA169;
  --ligth-brown: #E8E6CB;

  --light-green: #8CAC94;
  --dark-green: #213A40;

  --gradient-brow-green: linear-gradient(180deg, #213A40 0%, #4A493D 99.99%, rgba(255, 255, 255, 0) 100%);
}