.header {
    height: 5.5rem;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2rem;
    width: 100%;
    border-bottom: 3px solid #BFA169;

    img {
        height: auto;
    }

    span {
        text-transform: capitalize;
        color: var(--white);
    }
}
